{% extends "layout.html" %}

{% block content %}
    <div class="row">

        <div class="col-sm-4">
                <div class="small-box bg-aqua">
                        <div class="inner">
                          <h3>{{ totalVeiculos }}</h3>
            
                          <p>Total de Veículos</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="/veiculos" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
        </div>
        <div class="col-sm-4">
                <div class="small-box bg-aqua">
                        <div class="inner">
                          <h3>{{ totalManutencoes }}</h3>
            
                          <p>Total de Manutenções</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="/manutencoes" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
        </div>
        <div class="col-sm-4">
                <div class="small-box bg-aqua">
                        <div class="inner">
                          <h3>{{ totalUsuarios }}</h3>
            
                          <p>Total de Usuários</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="/usuarios" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
        </div>



        <!--AGENDAR MANUTENÇÃO -->

        <!-- FIM AGENDAR MANUTENÇÃO -->
        
        <!-- MANUTENÇÕES CONCLUÍDAS -->
          
          <div class="col-sm-4">
            <div class="box box-primary">
              <div class="box-header ui-sortable-handle" >
                <i class="glyphicon glyphicon-ok"></i>
                <h3 class="box-title">Manutenções Concluídas</h3>
              </div>

              <table class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>OFICINA</th>
                        <th>DATA</th>
                      </tr>
                </thead>
                <tbody>
                  {% for manutencao in totalManutencoesConcluidas %}
                    <tr role="row">
                        <td>{{ manutencao.idManutencao }}</td>
                        <td>{{ manutencao.estabelecimento }}</td>
                        <td>{{ manutencao.dataManutencao }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                
              </table>
            </div>
          </div>

          <!-- FIM MANUTENÇÕES CONCLUÍDAS -->

          <!-- MANUTENÇÕES PENDENTES -->
          
          <div class="col-sm-4">
              <div class="box box-primary">
                <div class="box-header ui-sortable-handle" >
                  <i class="glyphicon glyphicon-ok"></i>
                  <h3 class="box-title">Manutenções Pendentes</h3>
                </div>
  
                <table class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>OFICINA</th>
                            <th>DATA</th>
                          </tr>
                    </thead>
                  <tbody>
                      {% for manutencao in totalManutencoesPendentes %}
                    <tr role="row">
                        <td>{{ manutencao.idManutencao }}</td>
                        <td>{{ manutencao.estabelecimento }}</td>
                        <td>{{ manutencao.dataManutencao }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
  
            <!-- FIM MANUTENÇÕES PENDENTES -->

            <!-- MANUTENÇÕES CANCELADAS -->
          
          <div class="col-sm-4">
              <div class="box box-primary">
                <div class="box-header ui-sortable-handle" >
                  <i class="glyphicon glyphicon-ok"></i>
                  <h3 class="box-title">Manutenções Canceladas</h3>
                </div>
  
                <table class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>OFICINA</th>
                            <th>DATA</th>
                          </tr>
                    </thead>
                  <tbody>
                      {% for manutencao in totalManutencoesCanceladas %}
                    <tr role="row">
                        <td>{{ manutencao.idManutencao }}</td>
                        <td>{{ manutencao.estabelecimento }}</td>
                        <td>{{ manutencao.dataManutencao }}</td>
                    </tr>
                   {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
  
            <!-- FIM MANUTENÇÕES CANCELADAS -->


            
        
    </div>
{% endblock %}