{% extends "layout.html" %}
{% block content %}


<div class="col-sm-2">
    <a class="btn btn-block btn-success" href="/estabelecimento/novo">Adicionar Estabelecimento</a>
</div></br></br>

    <div class="col-sm-12">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Estabelecimentos</h3>
            </div>
            <table class="table table-bordered table-striped dataTable">
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>ENDEREÇO</th>
                </tr>

                {% for estabelecimento in estabelecimentos %}
                    <tr>
                        <td>{{ estabelecimento.idEstabelecimento }}</td>
                        <td>{{ estabelecimento.nome }}</td>
                        <td>{{ estabelecimento.endereco }}</td>
                        <td>
                            <a href="/veiculo/{{ estabelecimento.idEstabelecimento }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                            <a href="/veiculo/{{ estabelecimento.idEstabelecimento }}/deletar" onclick="return confirm('Deseja realmente excluir este registro?')"><span class="glyphicon glyphicon-remove-sign"></span> </a>
                            <a href="/veiculo-detalhes/{{ estabelecimento.idEstabelecimento }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                        </td>
                        <td><a href="/agendar-manutencao/{{ estabelecimento.idEstabelecimento }}"><button type="button" class="btn btn-block btn-primary btn-sm">Agendar</button></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
