
{% extends "layout.html" %}
{% block content %}
<section class="content container-fluid">
    <div class="row">
            <div class="col-md-3">

                <div class="input-group input-group-sm">
                    
                    <input type="text" class="form-control" placeholder="Pesquisar Veículo">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">Pesquisar</button>
                        </span>
                        
                </div>

            </div>
    </div> </br>

    <div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalhes do Veículo</h3>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-6">
                        <h4>ID:</h4>
                        <h4>Modelo:</h4>
                        <h4>Placa:</h4>
                    </div>
                    <div class="com-md-6">
                        <h4>Cor:</h4>
                        <h4>Ano:</h4>
                    </div>
                </div>
                    <!-- /.box-body -->
                  </div>

                </div>
    </div>

    <div class="row">
            <div class="col-sm-12">
                    <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Manutenções detse veículo</h3>
                    </div>
                    <table class="table table-bordered table-striped dataTable">
                        <tr>
                            <th>ID</th>
                            <th>DATA</th>
                            <th>NOME</th>
                            <th>DETALHES</th>
                            <th>AÇÕES</th>
                        </tr>
        
                        {% for manutencao in manutencoes %}
                            <tr>
                                <td>{{ manutencao.idManutencao }}</td>
                                <td>{{ manutencao.dataManutencao }}</td>
                                <td>{{ manutencao.nome }}</td>
                                <td>{{ manutencao.detalhes }}</td>
                                <td>
                                    <a href="/manutencao/{{ manutencao.idManutencao }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                                    <a href="/manutencao/{{ manutencao.idManutencao }}/deletar" onclick="return confirm('Deseja realmente excluir este registro?')"><span class="glyphicon glyphicon-remove-sign"></span> </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>
</section>

{% endblock %}

