{% extends "layout.html" %}
{% block content %}

<section class="content container-fluid">
    <div class="row">
            <div class="col-md-3">
                <form role="form" method="get" action="/veiculo-detalhes/">
                    <div class="input-group input-group-sm">
                        
                        <input type="text" class="form-control" placeholder="Pesquisar Veículo">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-flat">Pesquisar</button>
                            </span>
                            
                    </div>
                </form>

            </div>
    </div> </br>

    <div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalhes do Veículo</h3>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-6">
                        <h4>ID: {{ veiculo.idVeiculo }}</h4>
                        <h4>Modelo: {{ veiculo.modelo }}</h4>
                        <h4>Placa: {{ veiculo.placa }}</h4>
                    </div>
                    <div class="com-md-6">
                        <h4>Cor: {{ veiculo.cor }}</h4>
                        <h4>Ano: {{ veiculo.ano }}</h4>
                    </div>
                </div>
                    <!-- /.box-body -->
                  </div>

                </div>
    </div>

    <div class="row">
            <div class="col-sm-12">
                    <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Manutenções detse veículo</h3>
                    </div>
                    {% if manutencoes  %}
                    <table class="table table-bordered table-striped dataTable">
                        <tr>
                            <th>ID</th>
                            <th>DATA</th>
                            <th>ESTABELECIMENTO</th>
                            <th>SERVICO</th>
                            <th>DESCRICAO</th>
                            <th>DETALHES</th>
                            <th>STATUS</th>
                        </tr>
        
                        {% for manutencao in manutencoes %}
                            <tr>
                                <td>{{ manutencao.idManutencao }}</td>
                        <td>{{ manutencao.dataManutencao }}</td>
                        <td>{{ manutencao.estabelecimento }}</td>
                        <td>{{ manutencao.tipoServico }}</td>
                        <td>{{ manutencao.descricao }}</td>
                        <td>{{ manutencao.detalhes }}</td>
                        <td>{{ manutencao.status }}</td>
                        <td>
                            <a href="/manutencao/{{ manutencao.idManutencao }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                            <a href="/manutencao/{{ manutencao.idManutencao }}/deletar" onclick="return confirm('Deseja realmente excluir este registro?')"><span class="glyphicon glyphicon-remove-sign"></span> </a>
                        </td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    {% else %}
                    <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                Não existem manutenções cadastradas para este veículo.
                          </div>
                    {% endif %}
                </div>
            </div>
    </div>
</section>

{% endblock %}

